* {
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
  margin: 0;
}

.scroll-element {
  position: absolute;
  height: 6000px;
  width: 100px;
  top: 0;
  z-index: 0;
}

.castle-one,
.castle-two {
  height: 100vh;
}

.front {
  isolation: isolate;
  position: fixed;
  height: 55vh;
  width: 150px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}

.front-roof-container {
  width: 100%;
  height: 20vh;
  position: relative;
}

.front-roof-left {
  width: 140px;
  height: 40px;
  background:
    repeating-linear-gradient(
      145deg,
      #6595c3,
      #6595c3 3%,
      transparent 3%,
      transparent 18%
    ),
    repeating-linear-gradient(
      65deg,
      #6595c3,
      #6595c3 3%,
      #2a5378 3%,
      #2a5378 18%
    );
  transform: rotate(-75deg) skew(15deg);
  position: absolute;
  bottom: 48px;
  left: -31px;
}

.front-roof-right {
  width: 140px;
  height: 40px;
  background:
    repeating-linear-gradient(
      -70deg,
      transparent,
      transparent 12%,
      #6595c3 12%,
      #6595c3 15%,
      transparent 15%,
      transparent 16%
    ),
    repeating-linear-gradient(
      -170deg,
      #6595c3,
      #6595c3 6%,
      #2a5378 6%,
      #2a5378 36%
    );
  transform: rotateZ(75deg) rotateY(180deg) skew(15deg);
  position: absolute;
  bottom: 48px;
  right: -31px;
}

.triangle-border {
  position: absolute;
  bottom: -5px;
  z-index: -1;
  border-bottom: 18vh solid #a89fa1;
  border-right: 75px solid transparent;
  border-left: 75px solid transparent;
}

.roof-triangle {
  position: absolute;
  bottom: -4px;
  left: 50%;
  transform: translateX(-50%);
  border-bottom: 16vh solid #ddd9da;
  border-right: 30px solid transparent;
  border-left: 30px solid transparent;
  z-index: 3;
}

.front-wall {
  width: 100%;
  height: 30vh;
  background: #ddd9da;
  border: 4px solid #a89fa1;
  z-index: 1;
}

.triangle-window {
  z-index: 5;
  height: 20.5vh;
  margin: auto;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  border-bottom: 4px solid #ddd9da;
}

.top-half {
  width: 40px;
  height: 20px;
  background:
    linear-gradient(
      to right,
      #5b4d50,
      #5b4d50 50%,
      #a89fa1 50%,
      #a89fa1
    );
  border-radius: 10rem 10rem 0 0;
  z-index: 5;
}

.bottom-half {
  width: 40px;
  height: 20px;
  border-radius: 0 0 10rem 10rem;
  background:
    linear-gradient(
      to right,
      #a89fa1,
      #a89fa1 50%,
      #5b4d50 50%,
      #5b4d50
    );
  z-index: 5;
}

.inner-wall {
  width: 90%;
  margin: 0 auto;
  height: 30vh;
  background: #ddd9da;
  border-left: 4px solid #a89fa1;
  border-right: 4px solid #a89fa1;
}

.front-window-container {
  height: 10vh;
  width: 46%;
  position: absolute;
  bottom: 145px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-wrap: wrap;
}

.front-left-top {
  width: 48px;
  display: inline-block;
  color: #a89fa1;
  position: absolute;
  top: -38px;
  left: -6px;
  z-index: -1;
  filter: url("#goo");
}

.front-left-top::before {
  content: "";
  display: block;
  background: currentcolor;
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
  padding-top: 125%;
}

.front-left-inner {
  width: 43px;
  display: inline-block;
  color: #5b4d50;
  position: absolute;
  top: -33px;
  left: -3px;
  z-index: -1;
  filter: url("#goo");
}

.front-left-inner::before {
  content: "";
  display: block;
  background: currentcolor;
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
  padding-top: 125%;
}

.front-right-top {
  width: 48px;
  display: inline-block;
  color: #a89fa1;
  position: absolute;
  z-index: -1;
  top: -38px;
  right: -6px;
  filter: url("#goo");
}

.front-right-top::before {
  content: "";
  display: block;
  background: currentcolor;
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
  padding-top: 125%;
}

.front-right-inner {
  width: 43px;
  display: inline-block;
  color: #5b4d50;
  position: absolute;
  top: -33px;
  right: -3px;
  z-index: -1;
  filter: url("#goo");
}

.front-right-inner::before {
  content: "";
  display: block;
  background: currentcolor;
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
  padding-top: 125%;
}

.front-left-window {
  background: #5b4d50;
  flex-basis: 50%;
  height: 70%;
  border-left: 3px solid #a89fa1;
  border-bottom: 4px solid #a89fa1;
  margin: 10px 0 0;
}

.front-right-window {
  background: #5b4d50;
  flex-basis: 50%;
  height: 70%;
  border-right: 3px solid #a89fa1;
  border-bottom: 4px solid #a89fa1;
  margin: 10px 0 0;
}

.bronze-diamond {
  width: 10px;
  height: 10px;
  background: #b59630;
  border-radius: 0 100%;
  position: absolute;
  transform: rotate(45deg);
  z-index: 10;
}

.gold-diamond {
  width: 10px;
  height: 10px;
  background: #c9b762;
  border-radius: 0 100%;
  position: absolute;
  transform: rotate(45deg);
  z-index: 10;
}

.l-one {
  top: -10px;
  left: 14px;
}

.r-one {
  top: -10px;
  right: 13px;
}

.l-two {
  top: 0;
  left: 8px;
}

.r-two {
  top: 0;
  right: 8px;
}

.l-three {
  top: 0;
  left: 19px;
}

.r-three {
  top: 0;
  right: 19px;
}

.l-four {
  top: 11px;
}

.r-four {
  top: 11px;
  right: 2.5px;
}

.l-five {
  top: 11px;
  left: 14px;
}

.r-five {
  top: 11px;
  right: 14px;
}

.l-six {
  top: 11px;
  left: 25px;
}

.r-six {
  top: 11px;
}

.left-wall {
  width: 0;
  height: 30px;
  border-left: 5px solid #c9b762;
  border-top: 5px solid transparent;
  position: absolute;
  bottom: 16px;
  left: 2px;
}

.right-wall {
  width: 0;
  height: 30px;
  border-right: 5px solid #c9b762;
  border-top: 5px solid transparent;
  position: absolute;
  bottom: 16px;
  right: 2px;
}

.right-tall {
  width: 0;
  height: 30px;
  border-left: 3.5px solid #c9b762;
  border-top: 4px solid transparent;
  position: absolute;
  bottom: 16px;
}

.left-tall {
  width: 0;
  height: 30px;
  border-right: 3.5px solid #c9b762;
  border-top: 4px solid transparent;
  position: absolute;
  bottom: 16px;
}

.mid-l-one {
  left: 10.5px;
}

.mid-l-two {
  left: 14px;
}

.mid-l-three {
  left: 22px;
}

.mid-l-four {
  left: 25px;
}

.mid-l {
  left: 31px;
}

.mid-r {
  right: 31px;
}

.mid-r-one {
  right: 14px;
}

.mid-r-two {
  right: 10.5px;
}

.mid-r-three {
  right: 25px;
}

.mid-r-four {
  right: 22px;
}

.circle-container {
  width: 100%;
  height: 2vh;
  background: #5b4d50;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.circle {
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background-color: #b59630;
}

.front-gate-top {
  display: inline-block;
  position: absolute;
  left: -20px;
  bottom: 10vh;
  width: 190px;
  color: #a89fa1;
  filter: url("#goo");
}

.front-gate-top::before {
  content: "";
  display: block;
  background: currentcolor;
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
  padding-top: 30%;
}

.front-gate-top-inner {
  display: inline-block;
  position: absolute;
  left: 6px;
  bottom: 0;
  width: 178px;
  color: #5b4d50;
  filter: url("#goo");
}

.front-gate-top-inner::before {
  content: "";
  display: block;
  background: currentcolor;
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
  padding-top: 30%;
}

.front-gate {
  background: #5b4d50;
  border-left: 4px solid #a89fa1;
  border-right: 4px solid #a89fa1;
  position: absolute;
  width: 100%;
  height: 11vh;
  bottom: 0;
  left: 0;
}

.inner-gate {
  background: #5b4d50;
  border-left: 4px solid #a89fa1;
  border-right: 4px solid #a89fa1;
  position: absolute;
  width: 90%;
  height: 10vh;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.inner-gate-top {
  display: inline-block;
  position: absolute;
  left: -12px;
  bottom: 9vh;
  width: 167px;
  color: #a89fa1;
  filter: url("#goo");
}

.inner-gate-top::before {
  content: "";
  display: block;
  background: currentcolor;
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
  padding-top: 30%;
}

.inner-gate-top-inner {
  display: inline-block;
  position: absolute;
  left: 4px;
  bottom: -1px;
  width: 158px;
  color: #5b4d50;
  filter: url("#goo");
}

.inner-gate-top-inner::before {
  content: "";
  display: block;
  background: currentcolor;
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
  padding-top: 30%;
}
