* {
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
  margin: 0;
}

.scroll-element {
  position: absolute;
  height: 6000px;
  width: 100px;
  top: 0;
  z-index: 0;
}

.castle-one,
.castle-two {
  height: 100vh;
}

.front {
  isolation: isolate;
  position: fixed;
  height: 50vh;
  width: 125px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}

.front-roof-container {
  width: 100%;
  height: 20vh;
  position: relative;
}

.front-roof-left {
  width: 140px;
  height: 40px;
  background:
    repeating-linear-gradient(
      145deg,
      #6595c3,
      #6595c3 3%,
      transparent 3%,
      transparent 18%
    ),
    repeating-linear-gradient(
      65deg,
      #6595c3,
      #6595c3 3%,
      #2a5378 3%,
      #2a5378 18%
    );
  transform: rotate(-75deg) skew(15deg);
  position: absolute;
  bottom: 48px;
  left: -31px;
}

.front-roof-right {
  width: 140px;
  height: 40px;
  background:
    repeating-linear-gradient(
      -70deg,
      transparent,
      transparent 3%,
      #6595c3 3%,
      #6595c3 6%,
      transparent 6%,
      transparent 14%
    ),
    repeating-linear-gradient(
      -170deg,
      #6595c3,
      #6595c3 6%,
      #2a5378 6%,
      #2a5378 36%
    );
  transform: rotateZ(75deg) rotateY(180deg) skew(15deg);
  position: absolute;
  bottom: 48px;
  right: -31px;
}

.triangle-border {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  z-index: 2;
  border-bottom: 17vh solid #a89fa1;
  border-right: 32px solid transparent;
  border-left: 32px solid transparent;
}

.roof-triangle {
  position: absolute;
  bottom: -4px;
  left: 50%;
  transform: translateX(-50%);
  border-bottom: 16vh solid #ddd9da;
  border-right: 30px solid transparent;
  border-left: 30px solid transparent;
  z-index: 3;
}

.front-wall {
  width: 100%;
  height: 30vh;
  background: #ddd9da;
  border: 4px solid #a89fa1;
  z-index: 1;
}

.triangle-window {
  z-index: 5;
  height: 20.5vh;
  margin: auto;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  border-bottom: 4px solid #ddd9da;
}

.top-half {
  width: 40px;
  height: 20px;
  background:
    linear-gradient(
      to right,
      #5b4d50,
      #5b4d50 50%,
      #a89fa1 50%,
      #a89fa1
    );
  border-radius: 10rem 10rem 0 0;
  z-index: 5;
}

.bottom-half {
  width: 40px;
  height: 20px;
  border-radius: 0 0 10rem 10rem;
  background:
    linear-gradient(
      to right,
      #a89fa1,
      #a89fa1 50%,
      #5b4d50 50%,
      #5b4d50
    );
  z-index: 5;
}

.inner-wall {
  width: 90%;
  margin: 0 auto;
  height: 30vh;
  background: #ddd9da;
  border-left: 4px solid #a89fa1;
  border-right: 4px solid #a89fa1;
}

.front-window-container {
  height: 10vh;
  width: 55%;
  position: absolute;
  bottom: 120px;
  left: 50%;
  transform: translateX(-50%) scaleY(0.8);
  display: flex;
  flex-wrap: wrap;
}

.front-left-top {
  width: 48px;
  display: inline-block;
  color: #a89fa1;
  position: absolute;
  top: -38px;
  left: -6px;
  z-index: -1;
  filter: url("#goo");
}

.front-left-top::before {
  content: "";
  display: block;
  background: currentcolor;
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
  padding-top: 125%;
}

.front-left-inner {
  width: 43px;
  display: inline-block;
  color: #5b4d50;
  position: absolute;
  top: -33px;
  left: -3px;
  z-index: -1;
  filter: url("#goo");
}

.front-left-inner::before {
  content: "";
  display: block;
  background: currentcolor;
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
  padding-top: 125%;
}

.front-right-top {
  width: 48px;
  display: inline-block;
  color: #a89fa1;
  position: absolute;
  z-index: -1;
  top: -38px;
  right: -6px;
  filter: url("#goo");
}

.front-right-top::before {
  content: "";
  display: block;
  background: currentcolor;
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
  padding-top: 125%;
}

.front-right-inner {
  width: 43px;
  display: inline-block;
  color: #5b4d50;
  position: absolute;
  top: -33px;
  right: -3px;
  z-index: -1;
  filter: url("#goo");
}

.front-right-inner::before {
  content: "";
  display: block;
  background: currentcolor;
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
  padding-top: 125%;
}

.front-left-window {
  background: #5b4d50;
  flex-basis: 50%;
  height: 70%;
  border-left: 3px solid #a89fa1;
  border-bottom: 4px solid #a89fa1;
  margin: 10px 0 0;
}

.front-right-window {
  background: #5b4d50;
  flex-basis: 50%;
  height: 70%;
  border-right: 3px solid #a89fa1;
  border-bottom: 4px solid #a89fa1;
  margin: 10px 0 0;
}

.bronze-diamond {
  width: 10px;
  height: 10px;
  background: #b59630;
  border-radius: 0 100%;
  position: absolute;
  transform: rotate(45deg);
  z-index: 10;
}

.gold-diamond {
  width: 10px;
  height: 10px;
  background: #c9b762;
  border-radius: 0 100%;
  position: absolute;
  transform: rotate(45deg);
  z-index: 10;
}

.l-one {
  top: -10px;
  left: 14px;
}

.r-one {
  top: -10px;
  right: 13px;
}

.l-two {
  top: 0;
  left: 8px;
}

.r-two {
  top: 0;
  right: 8px;
}

.l-three {
  top: 0;
  left: 19px;
}

.r-three {
  top: 0;
  right: 19px;
}

.l-four {
  top: 11px;
}

.r-four {
  top: 11px;
  right: 2.5px;
}

.l-five {
  top: 11px;
  left: 14px;
}

.r-five {
  top: 11px;
  right: 14px;
}

.l-six {
  top: 11px;
  left: 25px;
}

.r-six {
  top: 11px;
}

.left-wall {
  width: 0;
  height: 30px;
  border-left: 5px solid #c9b762;
  border-top: 5px solid transparent;
  position: absolute;
  bottom: 16px;
  left: 2px;
}

.right-wall {
  width: 0;
  height: 30px;
  border-right: 5px solid #c9b762;
  border-top: 5px solid transparent;
  position: absolute;
  bottom: 16px;
  right: 2px;
}

.right-tall {
  width: 0;
  height: 30px;
  border-left: 3.5px solid #c9b762;
  border-top: 4px solid transparent;
  position: absolute;
  bottom: 16px;
}

.left-tall {
  width: 0;
  height: 30px;
  border-right: 3.5px solid #c9b762;
  border-top: 4px solid transparent;
  position: absolute;
  bottom: 16px;
}

.mid-l-one {
  left: 10.5px;
}

.mid-l-two {
  left: 14px;
}

.mid-l-three {
  left: 22px;
}

.mid-l-four {
  left: 25px;
}

.mid-l {
  left: 31px;
}

.mid-r {
  right: 31px;
}

.mid-r-one {
  right: 14px;
}

.mid-r-two {
  right: 10.5px;
}

.mid-r-three {
  right: 25px;
}

.mid-r-four {
  right: 22px;
}

.circle-container {
  width: 100%;
  height: 2vh;
  background: #5b4d50;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.circle {
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background-color: #b59630;
}

.front-gate-top {
  display: inline-block;
  position: absolute;
  left: -18px;
  bottom: 10vh;
  width: 160px;
  color: #a89fa1;
  filter: url("#goo");
}

.front-gate-top::before {
  content: "";
  display: block;
  background: currentcolor;
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
  padding-top: 30%;
}

.front-gate-top-inner {
  display: inline-block;
  position: absolute;
  left: 4px;
  bottom: -2px;
  width: 155px;
  color: #5b4d50;
  filter: url("#goo");
}

.front-gate-top-inner::before {
  content: "";
  display: block;
  background: currentcolor;
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
  padding-top: 30%;
}

.front-gate {
  background: #5b4d50;
  border-left: 4px solid #a89fa1;
  border-right: 4px solid #a89fa1;
  position: absolute;
  width: 100%;
  height: 11vh;
  bottom: 0;
  left: 0;
}

.inner-gate {
  background: #5b4d50;
  border-left: 4px solid #a89fa1;
  border-right: 4px solid #a89fa1;
  position: absolute;
  width: 90%;
  height: 10vh;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.inner-gate-top {
  display: inline-block;
  position: absolute;
  left: -12px;
  bottom: 9vh;
  width: 142px;
  color: #a89fa1;
  filter: url("#goo");
}

.inner-gate-top::before {
  content: "";
  display: block;
  background: currentcolor;
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
  padding-top: 30%;
}

.inner-gate-top-inner {
  display: inline-block;
  position: absolute;
  left: 2px;
  bottom: -3px;
  width: 138px;
  color: #5b4d50;
  filter: url("#goo");
}

.inner-gate-top-inner::before {
  content: "";
  display: block;
  background: currentcolor;
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
  padding-top: 30%;
}

.behind-front {
  isolation: isolate;
  position: fixed;
  bottom: 0;
  height: 60vh;
  width: 125px;
  background: #eeeded;
  left: 45%;
  z-index: -1;
}

.behind-window-container {
  height: 6vh;
}

.window-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 3vh;
}

.window-set {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 20%;
  height: 3.2vh;
  margin: 2vh 5px;
}

.grey-win {
  background: #a89fa1;
  flex-basis: 50%;
  border: 3px solid #eeeded;
}

.dark-win {
  background: #5b4d50;
  flex-basis: 50%;
  border: 3px solid #eeeded;
}

.behind-upper-window-container {
  background: #ddd9da;
  width: 30%;
  height: 12vh;
  position: absolute;
  top: -8.5vh;
  left: 50%;
  transform: translateX(-50%);
}

.upper-grey-win {
  background: #a89fa1;
  flex-basis: 50%;
  border: 3px solid #ddd9da;
}

.upper-dark-win {
  background: #5b4d50;
  flex-basis: 50%;
  border: 3px solid #ddd9da;
}

.behind-upper-window {
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: center;
}

.window-row-1 {
  margin-top: 2vh;
  height: 1.5vh;
}

.window-row-2 {
  height: 1.5vh;
}

.window-row-3 {
  margin-top: 1.5vh;
  height: 1.5vh;
}

.window-row-4 {
  height: 2.5vh;
}

.behind-front-peak {
  position: absolute;
  border-bottom: 50px solid #a89fa1;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
}

.bfpo {
  top: -15vh;
  left: 35%;
}

.bfpt {
  top: -15vh;
  right: 35%;
}

.behind-front-top-tri {
  position: absolute;
  top: -19.25vh;
  left: 50%;
  transform: translateX(-50%);
  border-bottom: 90px solid #ddd9da;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
}

.behind-front-zig-roof {
  position: absolute;
  z-index: -3;
  top: -18vh;
  height: 18vh;
  width: 125px;
  clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
  background:
    linear-gradient(135deg, #2a5378 25%, transparent 25%) -10px 0,
    linear-gradient(225deg, #2a5378 25%, transparent 25%) -10px 0,
    linear-gradient(315deg, #2a5378 25%, transparent 25%),
    linear-gradient(45deg, #2a5378 25%, transparent 25%);
  background-size: 20px 20px;
  background-color: #6595c3;
}

.behind-front-gold-top {
  width: 60%;
  height: 10px;
  position: absolute;
  top: -19.25vh;
  left: 50%;
  transform: translateX(-50%);
  background:
    linear-gradient(
      to right,
      #b59630 0,
      #b59630 14%,
      #c9b762 14%,
      #c9b762 28%,
      #b59630 28%,
      #b59630 42%,
      #c9b762 42%,
      #c9b762 56%,
      #b59630 56%,
      #b59630 70%,
      #c9b762 70%,
      #c9b762 84%,
      #b59630 84%,
      #b59630 0
    );
}

.behind-front-gold-peak {
  position: absolute;
  top: -25vh;
  border-bottom: 50px solid #b59630;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
}

.bfgpo {
  left: 20%;
}

.bfgpt {
  right: 20%;
}

.behind-front-gold-peak-ball {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #b59630;
  position: absolute;
  top: 15px;
  right: -5px;
}

.left-turret {
  position: fixed;
  isolation: isolate;
  bottom: 0;
  left: 35%;
  height: 35vh;
  width: 75px;
  background: #ddd9da;
}

.outwards-trap {
  height: 3vh;
  width: 120%;
  position: relative;
  left: -7px;
  clip-path: polygon(0 0, 100% 0, 91% 100%, 8% 100%);
  background: #a89fa1;
}

.rounded-trap-top {
  height: 0.5vh;
  width: 120%;
  position: relative;
  left: -7px;
  background: #a89fa1;
  border-radius: 100% 100% 0 0;
}

.top-of-left-turret {
  width: 120%;
  height: 4vh;
  position: relative;
  left: -7px;
  top: 2px;
  background: #ddd9da;
}
